body {
  width: 300px;
}

hr {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0.6em 0;
}

.secondary {
  font-size: 0.95em;
  margin: 0.15em 0;
}

.hide {
  display: none;
}

.heading {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  cursor: pointer;
}

.power-button-container {
    display: flex;
    justify-content: center;
}

.power-button {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}

.menu {
  font-size: 14px;
}

.menu-heading {
  font-size: 16px;
  margin-left: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0;
}