* {
  font-family: sans-serif;
}

:host(:hover) #controls {
  display: block;
}

:host(:hover) .prev-next-button {
  display: inline;
  margin: 5px 5px;
}

.prev-next-button {
  display: none;
  text-decoration: none;
  font-weight: 900;
  background-color: transparent;
  color: white;
  border: none;
}

#controller {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  background: transparent;
  color: white;
  border-radius: 30px;
  padding: 6px 12px 6px 12px;
  cursor: default;
  z-index: 9999999;
}

#controller:hover {
  opacity: 0.7;
}

#controls {
  display: none;
  margin: 5px;
}

#controller.dragging {
  cursor: -webkit-grabbing;
  opacity: 0.7;
}

#controller.dragging #controls {
  display: block;
}

#controller.dragging .prev-next-button {
  display: inline;
}

.draggable {
  cursor: -webkit-grab;
  display: inline;
}

.draggable:active {
  cursor: -webkit-grabbing;
}

#background-div {
  background-color: black;
  display: inline-block;
  border-radius: 40px;
  padding: 5px 20px;
}

#controls > button {
  opacity: 1;
  cursor: pointer;
  color: black;
  background: white;
  font-weight: normal;
  border-radius: 20px;
  padding: 1px 5px 3px 5px;
  font-size: 14px;
  line-height: 14px;
  border: 0px solid white;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0px 2px 2px 2px;
  transition: background 0.2s, color 0.2s;
}

button:focus {
  outline: 0;
}

button:hover {
  opacity: 1;
  background: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

button:active {
  background: #2196f3;
  color: #ffffff;
  font-weight: bold;
}

button.rw {
  opacity: 1;
}

button.hideButton {
  opacity: 0.65;
  margin-right: 2px;
}

#chooseFile {
  display: none;
}

.fileLabel:hover {
  cursor: pointer;
}

.fileLabel {
  background-color: white;
  border-radius: 15px;
  font-size: 14px;
  color: black;
  padding: 2px 5px;
  font-weight: 900;
}