* {
    font-family: sans-serif;
}

hr {
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(122, 122, 122, 0.3);
    margin: 0.6em 0;
}

p {
    font-size: 15px;
    margin: 5px 5px;
}

.subtitle-button {
    text-decoration: none;
    font-weight: 900;
    background-color: transparent;
    color: white;
    border: none;
}

.sync-msg {
    margin: 5px 40px;
}

#controller {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    border-radius: 30px;
    cursor: default;
    z-index: 9999998;
}

#settings-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.795);
    color: black;
    width: 90%;
    max-width: 600px;
    margin-top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 3px 3px 10px rgb(160, 160, 160);
    z-index: 9999999;
}

#settings-header {
    display: flex;
    justify-content: space-between;
}

#settings-body {
    display: flex;
    margin-top: 10px;
    font-size: 14px;
}

.settings-item {
    margin: 10px;
}

#settings-title {
    font-size: 23px;
    color: black;
}

#settings-close {
    font-size: 30px;
    margin-top: 0px;
}

.section-heading {
    text-align: center;
    font-size: 16px;
    color: #C62828;
    margin: 0;
}

#controls {
    display: none;
    margin: 5px;
}

#controller.dragging {
    cursor: -webkit-grabbing;
}

#controller.dragging .subtitle-button {
    display: inline-block;
}

.draggable {
    cursor: -webkit-grab;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.draggable:active {
    cursor: -webkit-grabbing;
}

#subtitle-div {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    border-radius: 40px;
    padding: 5px 10px;
}

button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
}

#chooseFile {
    display: none;
}

.fileLabel:hover {
    cursor: pointer;
}

.fileLabel {
    background-color: white;
    border-radius: 15px;
    font-size: 14px;
    color: black;
    padding: 2px 5px;
    font-weight: 900;
}

#synced {
    color: rgb(0, 255, 0);
    font-size: 14px;
}

#not-synced {
    color: rgb(255, 0, 0);
    font-size: 14px;
}

.hide {
    display: none !important;
}

#video-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 9999999;
}

#subtitles {
    margin-left: 0;
    margin-right: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#video-img {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.849);
}

#settings-menu {
    text-align: start;
    font-size: 16px;
    font-weight: 600;
    color: #C62828;
    cursor: pointer;
}

.menu-item {
    padding: 10px 15px 10px 30px;
    border-right: 1px solid rgb(189, 189, 189);
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.103);
}

.settings-button {
    text-align: center;
    color: #ff815a;
    background-color: rgba(255, 255, 255, 0.856);
    padding: 8px 16px;
    margin: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid rgb(192, 192, 192);
    cursor: pointer;
}

.settings-button:hover {
    background-color: rgba(245, 245, 245, 0.829);
}

#bottom-space {
    height: 20px;
}

#subtitle-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.display-label {
    font-size: 17px;
}

.display-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
  
.slider {
    --range-size: 13px;
    -webkit-appearance: none;
    width: 150px;
    height: 3px;
    border-radius: 5px;
    background: #b8b8b8;
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--range-size);
    height: var(--range-size);
    border-radius: 50%;
    background: #ff815a;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: var(--range-size);
    height: var(--range-size);
    border-radius: 50%;
    background: #ff815a;
    cursor: pointer;
}